/*IMPORTS*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');

/* SECCIONES ESTANDAR */
html, body{margin: 0; color: #000; font-family: 'Open Sans', sans-serif;}
header{background-color: #BBBBBB; color: #fff;}

/* CLASES ESTANDAR */
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.borde1px{border: 1px solid #000;}
.bggrey{background-color: #CCCCCC;}
.justify{text-align: justify;}
.blue{color: #0054aa;}


/* DIVISIONES ESTANDAR */
.wrapper{width: 90%; margin: 0 auto;}
.fullwidth{width: 100%;}
.half{width: 50%;}
.four{width: 25%;}
.sixty{width: 60%;}
.forty{width: 40%;}

/* NAVIGATION */
.navleft{width: 62%;}
.navright{width: 20%; margin: 0 auto;}
.margnav{margin: 8px 0px!important;}
ul{list-style: none; padding-left: 0px; margin: 0;}
li{list-style: none;}
.menu li>a{display: block; text-decoration: none; color: #fff}
.menu>li:first-child>a{margin-left: 5px; padding-right: 15px;}
.menu li>a:hover{color: #222299;}
.menu>li{float: left; text-align:center}
.menu>li>ul{width: 185px; margin-left: -100px; top: 140px; right: 125px; display: none; padding-left: 0px; position: fixed; z-index: 1; margin-top: 0px!important; background-color: rgba(155, 155, 155, 0.8); -moz-background-color: rgba(155, 155, 155, 0.8); -ms-background-color: rgba(155, 155, 155, 0.8);}
.menu>li>ul>li{text-align: center;}
.menu>li:hover>ul {z-index: 1; display: block;}
.menu>li:hover{margin-bottom: -10px; padding-bottom: 10px;}

.login{width: 38%;}
.login div{float: right;}
.login>div>ul>li:last-child>a{border: none;}
.login ul{text-align: center;}
.social{width: 100%; height: 102%; background: rgba(255,255,255,0.5)}
.social-menu{width: 150px; top: 60; right: 0; margin-left: -50px;}
.social-menu li{margin: 0 auto; padding: 0px; width: 245px;}
.social-menu li a{margin: 0 auto; padding: 0px; border: none; }

nav{border-top: 1px solid #444444; clear: both; height: 48px; border-bottom: 1px solid #444444;}
.nav-item{border-right: 1px solid #444444; padding: 5px 10px 5px 10px; cursor: pointer;}
.nav-subitem{margin: 10px 5px 10px 5px; font-weight: bold; height: 30px;}

#burguer{display: none;}
#menuR{display: none;}


/* CONTENT HOME */
.dleft{width: 55%;}
.dright{width: 45%;}
.almost{width: 90%; margin: 0 auto;}

/** GOOGLE MAPS **/
/*.gm-style-iw {width: 95px!important; top: 0!important; left: 0!important; color: #0000AA; background-color: #fff;
 	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6); border: 1px solid rgba(72, 181, 233, 0.6); border-radius: 5px;}*/
.gm-style-iw + div {display: none; margin: 0!important;}

#googleMap{width: 100%; height: 100%;}
.googlediv{width: 55%; height: 600px;}


/* CLASES PARTICUALRES */
.aplicar{ padding: 4px 20px 4px 10px; text-decoration: none; color: #00549a; border: 2px solid #00549a; border-radius: 5px; font-weight: bold; font-size:1.4em;}
.logo{width: 50%; margin: 5px 10px;}
.marker-header{width: 20%; margin-top: 5px; margin-right: 15px;}
.tright{text-align: right;}
.white{color: #fff;}

/* FORMULARIO CONTACTO */
.invalid{-webkit-box-shadow: 0px 0px 18px 2px rgba(255,0,0,1); -moz-box-shadow: 0px 0px 18px 2px rgba(255,0,0,1); box-shadow: 0px 0px 18px 2px rgba(255,0,0,1);}
.success{-webkit-box-shadow: 0px 0px 18px 2px rgba(0,255,0,1); -moz-box-shadow: 0px 0px 18px 2px rgba(0,255,0,1); box-shadow: 0px 0px 18px 2px rgba(0,255,0,1);}
.required{color: #c80000;}
#formulario{line-height: 1.8;}
#formulario input{border-radius: 10px; width: 60%; font-size: 1.2em;}

.formtext{font-size: 1.2em;}




/* RESPONSIVE */

@media screen and (max-width: 480px)
{
.dright{width: 0%;}
.dleft{width: 100%;}
.four{width: 48%; margin: 1% 1%;}
#buscador{display: none;}
nav{height: 35px; background-color: #959595;}
nav>div>.menu2>li:first-child{background-color: #959595; margin-top: 1%;}
nav div .menu2 li{float: none; background-color: #454545; height: 100%;}
.margnav{margin: 0!important;}
#burguer{display: block; width: 90%;}
.logo{width: 100%;}
.marker-header{width: 45%;}
#menuN{display: none;}
#menuR{display: block;}
.navleft{width: 100%;}
.menu2 li>a{display: block; text-decoration: none; color: #fff; margin-top: 3px;}
.menu2 li>a:hover{color: #222299;}
.menu2>li{float: left; text-align:center}
.menu2>li>ul{width: 100%; margin: 0!important; display: none; clear: both; margin-top: 0px!important; background-color: rgba(155, 155, 155, 0.4); -moz-background-color: rgba(155, 155, 155, 0.4); -ms-background-color: rgba(155, 155, 155, 0.4);}
.menu2>li>ul>li{text-align: center; margin: 1% 0% 0% 0%;}
.menu2>li:hover>ul {z-index: 1;}
#log-div{display: none;}
}

